.custom-zoom {
  top: 10px;
  right: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 1000;
}

.custom-zoom button {
  background-color: #222;
  color: white;
  border: none;
  padding: 8px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-zoom button:hover {
  background-color: #444;
}
